@import "~src/styles/global.scss";

:host{
    @extend .flex-center;
}

.imgContainer{
    @include opasity-ease(.5s);
    opacity: 0;

    width: auto;
    position: absolute;
    overflow: hidden;
    img{
        height: 100%;
        width: auto;
        position: absolute;
        pointer-events: none;
    }
}

