@import "~src/styles/variables.scss";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clear-regular-text {
    @include text(medium, regular, $text-color-clear);
}

.clear-medium-text {
    @include text(medium, bold, $text-color-clear);
}

.dark-regular-text {
    @include text(medium, regular, $text-color-dark);
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}

.full-screen{
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}

.bg-app {
    @extend .full-screen;
    background: linear-gradient(white, deepskyblue);
    z-index: -1;
}


.foward-animation{
    -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
    -moz-animation-fill-mode: forwards;    /* FF 5+ */
    -o-animation-fill-mode: forwards;      /* Not implemented yet */
    -ms-animation-fill-mode: forwards;     /* IE 10+ */
    animation-fill-mode: forwards;         /* When the spec is finished */  
}