$color-primary-0: #00a0ff; // Main Primary color */
$color-primary-1: #35b2fc;
$color-primary-2: #0ca4ff;
$color-primary-3: #0070b3;
$color-primary-4: #00548886;

$color-secondary-1-0: #ffbb00; // Main Secondary color (1) */
$color-secondary-1-1: #ffc62a;
$color-secondary-1-2: #ffbb00;
$color-secondary-1-3: #ffbb00;
$color-secondary-1-4: #d59c00;

$color-secondary-2-0: #ff3d00; // Main Secondary color (2) */
$color-secondary-2-1: #ff5d2a;
$color-secondary-2-2: #ff3d00;
$color-secondary-2-3: #ff3d00;
$color-secondary-2-4: #d53300;

$text-color-clear: rgb(255, 255, 255);
$text-color-dark: rgba(0, 0, 0);

$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 600,
);

$font-sizes: (
    "small": 13px,
    "medium": 24px,
    "big": 32px,
);

@function font-weight($name) {
    @return map-get($map: $font-weights, $key: $name);
}

@function font-size($name) {
    @return map-get($map: $font-sizes, $key: $name);
}

@mixin text($size, $weight, $color) {
    font-size: font-size($size);
    font-weight: font-weight($weight);
    color: $color;
    font-family: "Courier New", Courier, monospace;
}

@mixin transition-ease($time: 0.3s) {
    transition: all $time ease-in-out;
}

@mixin opasity-ease($time: 0.3s) {
    transition: opacity $time ease-in-out;
}

@mixin tablet {
    @media (max-width: 800px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: 500px) {
        @content;
    }
}

@mixin mobile-landscape {
    @media (min-width: 499px) and (max-height: 450px){
        @content;
    }
}