@import "~src/styles/global.scss";

:host{
    z-index: 9;
}

.damage-text{

    @extend .foward-animation;

    animation-name: enter;
    text-shadow:  1px 1px white;
    animation-duration: 3s;
    position: absolute;  
    animation-timing-function: ease-in-out;

    @include text(big, bold, $color-secondary-2-0);

}

@keyframes enter {
    from {
        bottom: 50%;
        opacity: 1;
    }
    to {
        bottom: 100%;
        opacity: 0;
    }
}
