<div>
    <app-sprite-anim [defaultAnim]='character.GetIddle()' [spriteSheetInfo]='character.GetSpriteSheetInfo()' [heightSprite]='character.GetHeight()' #mainAnim></app-sprite-anim>
    <app-damage-text *ngFor="let damages of damagesToShow; let i = index" [damage]='damages'></app-damage-text>
</div>