@import "~src/styles/global.scss";

.container-grid {
    display: grid;
    grid-template-columns: 1.4fr 1fr 1fr;
    width: 100%;
    border-bottom: 3px solid white;
    padding-left: 10px;

    .item-grid {
        @extend .clear-medium-text;
    }

    .coldDown {
        place-self: center center;
        width: 120px;
        height: 15px;
        background-color: white;
        border: 2px solid white;
        .fill {
            height: 100%;
            width: 0%;
            background: linear-gradient(to right, $color-secondary-1-0, $color-secondary-2-0);
        }
    }

    .hpSeparator {
        margin-left: 5px;
        margin-right: 5px;
    }

    @include tablet {
        padding-left: 5px;
        padding-right: 5px;

        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        .name {
            grid-row-start: 1;
            grid-column-start: 1;
            grid-column-end: 3;
        }
        .hp {
            grid-row-start: 1;
            grid-column-start: 2;
            grid-column-end: 3;
            place-self: center right;
        }
        .coldDown {
            grid-row-start: 2;
            grid-column-start: 2;
            grid-column-end: 3;
            place-self: center right;
        }
    }

    @include mobile-landscape{
        grid-template-columns: 1.4fr 1fr 1fr;
        grid-template-rows: 1fr;

        .coldDown {
            grid-row-start: 1;
            grid-column-start: 3;
            grid-column-end: 4;
            place-self: center right;
        }

    }

}
