<div class="container-grid">
    <div class="item-grid name"><span>{{character.GetName() | capitalize }}</span></div>
    <div class="item-grid hp"><span>{{character.GetCurrentHealth()}}</span><span
            class="hpSeparator">/</span><span>{{character.GetTotalHealth()}}</span></div>
    <div class="item-grid coldDown" >
        <div class="fill" [ngStyle]="GetCD()"></div>
    </div>
</div>