@import "~src/styles/global.scss";

.containerBG{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.ingameBackground {
    @extend .centered;
    position: absolute;
    height: 140vh;
}

.charContainer {
    @extend .flex-center;
    z-index: 2;
    height: 80vh;
    top: 0;
    left: 0;
}

.charactersGrid {
    height: 35vh;
    width: 50vh;
    position: relative;
    //background-color: rgba($color: #000000, $alpha: 0.1);
    display: grid;
    grid-template-columns: 1fr 1fr 0fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    .grid-item {
        position: relative;
        //  background-color: rosybrown;
        //    border: 5px solid black;
        @extend .flex-center;
    }

    .player-item {
        grid-row-start: 1;
        grid-row-end: 5;
        grid-column-start: 4;
        grid-column-end: 6;
    }

    .grid-monster-1-0 {
        grid-row-start: 1;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .grid-monster-2-0 {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .grid-monster-2-1 {
        grid-row-start: 3;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

.UI {
    z-index: 3;
}

.containerUI {
    background-color: $color-primary-4;
    padding: 5px;
    border: solid rgba($color: #fff, $alpha: 0.5) 3px;
    border-radius: 10px;
    width: 500px;
    max-width: 500px;

    @include tablet {
        width: 400px;
    }

    @include mobile {
        width: 300px;
    }

    @include mobile-landscape{
        width: 80vw;
    }
}

.playerUI {
    position: fixed;
    top: 40px;
    right: 5vw;

    @include tablet{
        top: 10px;
    }

    @include  mobile-landscape{
        top: 10px;
    }
}

.enemiesUI {
    position: fixed;
    bottom: 40px;
    left: 5vw;

    .enemyUI {
        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }
    .enemy {
    }

    @include  tablet{
        bottom: 10px;
    }

    @include  mobile-landscape{
        bottom: 10px;
    }

}
