<div>
    <div class="containerBG">
        <img class="ingameBackground" src="assets/scenes/demo_scene.png">
    </div>
    <div class="charContainer">
        <div class="charactersGrid">

            <div *ngFor="let enemy of enemies; let i = index" class="grid-item" [ngClass]="GridMonster(i)">
                <app-character [character]="enemy" #enemyComponent></app-character>
            </div>

            <app-character *ngIf="player" [character]="player" class="grid-item player-item" #playerComponent></app-character>

        </div>
    </div>

    <div class="containerUI playerUI" *ngIf="player">
        <app-ui-character class="UI" [character]="player" ></app-ui-character>
    </div>

    <div class="containerUI enemiesUI" *ngIf="enemies.length">

        <div *ngFor="let enemy of enemies; let i = index" class="enemyUI" [ngClass]="GridMonster(i)">
            <app-ui-character class="UI enemy" [character]="enemy"></app-ui-character>
        </div>
    </div>




</div>