/* You can add global styles to this file, and also import other style files */
body, html{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.hidden{
    position: absolute;
    opacity: 0;
    pointer-events: none;
}